{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container mt-5 m-2">
    <h2 class="mt-5">Отдел: {{ unaa.title }}</h2>
    {% for last_add_number in last_add_numbers %}
        <h3 class="mt-5"></h3>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Типы</th>
                <th>Код региона</th>
                <th>Гос номер</th>
                <th>Номер заявки</th>
                <th>Дата создания</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td width="120" height="50">
                        {{ last_add_number.category_types.title }}
                    </td>
                    <td width="40" height="50">
                        <button type="button" class="btn btn-outline-dark" disabled>
                            {{ last_add_number.category_number }}
                        </button>
                    </td>
                    <td width="50" height="50">
                        <button type="button" class="btn btn-light" disabled>
                            {{ last_add_number.number }}
                        </button>
                    </td>
                    <td width="50" height="50">
                        <button type="button" class="btn btn-info" disabled>№: {{ last_add_number.application }}</button>
                    </td>
                    <td width="50" height="50">
                        {{ last_add_number.created|date:"d.m.Y" }}
                    </td>
                </tr>
            </tbody>
        </table>
    {% endfor %}
</div>

{% endblock %}
