@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

body {
  font: 100% Roboto, sans-serif;
  background: url(http://wallpapercave.com/wp/aZlqiAT.png) 50% 50% no-repeat;
  background-size: cover;
  padding: 50px;
  margin: 0;
}

.base {
  display: flex;
  justify-content: center;
}
